version: '3.8'

services:
  # 1. Database
  db:
    image: postgres:15-alpine
    container_name: url-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # 2. Backend API
  backend:
    build: ./server
    container_name: url-backend
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
    networks:
      - app-network

  # 3. Frontend UI
  frontend:
    build: ./client
    container_name: url-frontend
    networks:
      - app-network

  # 4. Nginx Proxy (Entry Point)
  nginx:
    build: ./nginx
    container_name: url-nginx
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  # 5. NEW SERVICE: Redis (In-Memory Cache)
  redis:
    image: redis:alpine
    container_name: url-redis
    networks:
      - app-network

  worker:
    build: ./worker
    container_name: url-worker
    depends_on:
      - redis
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
    networks:
      - app-network

    # 6. NEW SERVICE: Cloudflare Tunnel
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: url-tunnel
    restart: unless-stopped
    command: tunnel run --token eyJhIjoiMGYzZmI1ZDY0MDZjNzg0OTJhM2M5OTRhNjNhNDExMzAiLCJ0IjoiOTQxYjI4NTktZmE3Ni00MjE3LTllZTMtMTNkZWQxMDRjNzUxIiwicyI6IlpqQmhZMkUyWm1NdFl6Y3hZaTAwTlRZd0xUa3pOamN0WkdReE5XTXhOekU1WkRaaiJ9
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: